
:root {
    --bg: #0f0f0f;
    --card: #1c1c1c;
    --accent: #e63946;
    --text: #f5f5f5;
    --gray: #bdbdbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
}

header {
    background: #000;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--accent);
}

header h1 {
    color: var(--accent);
    font-size: 1.8rem;
}

header p {
    color: var(--gray);
}

.hero {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(to right, #141414, #1f1f1f);
}

.hero h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.hero p {
    color: var(--gray);
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    background: var(--accent);
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #c1121f;
}

.section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--accent);
    font-size: 1.8rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.card {
    background: var(--card);
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #2a2a2a;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.card p {
    color: var(--gray);
    margin-bottom: 6px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accent);
    margin: 10px 0;
}

.whatsapp-btn {
    display: inline-block;
    margin-top: 10px;
    background: #25D366;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}

img{
    width: 100%;
    border-radius: 12px;
}


footer {
    background: #000;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    color: var(--gray);
    font-size: 0.9rem;
}
